<nav class="navbar sticky-top navbar-expand-xl navbar-light bg-white justify-content-between">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a routerLink="/" class="btn btn-outline-primary btn-sm" role="button">&lt;</a>
    <a [routerLink]="[repo.name, prev.path]" class="btn btn-outline-primary btn-sm" role="button" *ngIf="prev">&lt;</a>
    <a [routerLink]="[repo.name, next.path]" class="btn btn-outline-primary btn-sm" role="button" *ngIf="next">&gt;</a>
  </div>
  <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container" [innerHTML]="content | ruby" *ngIf="content"></div>
<app-modal [repo]="repo" [episodes]="episodes"></app-modal>