@charset "utf-8";

.entry-content h1 {
  font-size: large;
  text-align: center;
  padding-bottom: 1em;
}

.horizontal-serif,
.vertical-serif {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 Pr6N", "Hiragino Mincho Pr6N", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 StdN", "Hiragino Mincho StdN", HiraMinProN-W3;
}
.horizontal-sans-serif,
.vertical-sans-serif {
  font-family: "メイリオ", "Meiryo", 'Lucida Grande', "sans-serif";
}
article,
.vertical-serif,
.vertical-sans-serif {
  writing-mode: vertical-rl;
  line-height: 1.8em;
}

.horizontal-serif,
.horizontal-sans-serif {
  line-height: 1.6em;
}
