<div class="jumbotron">
  <h1 class="display-3">Novels at 8am.</h1>
  <p class="lead"><a href="https://github.com/8amjp">足羽川永都</a>が執筆した小説を公開しています。</p>
</div>
<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4 mb-2" *ngFor="let repo of (repos | filter)">
      <div class="card border-primary">
        <div class="card-body">
          <h4 id="{{repo.name}}" class="card-title h6"><a href="/{{repo.name}}">{{repo.description | title}}</a></h4>
          <h6 class="card-subtitle mb-2 text-muted">{{repo.description | properties}}</h6>
          <h6 class="card-subtitle text-muted">{{repo.updated_at | date:"yyyy年MM月d日"}}更新</h6>
        </div>
      </div>
    </div>

  </div>
</div>
