<div class="container">
  <div class="jumbotron">
    <h1>{{page.title}}</h1>
    <p class="lead">{{page.description}}</p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-2" *ngFor="let repo of (repos$ | filter)">
      <div class="card border-primary">
        <div class="card-body">
          <h4 id="{{repo.name}}" class="card-title h6"><a href="/{{repo.name}}">{{repo.description | title}}</a> <small>{{repo.description | properties}}</small></h4>
          <h6 class="card-subtitle mb-2 text-muted">{{repo.name}}</h6>
          <p class="card-subtitle text-muted">{{repo.updated_at | date:"yyyy年MM月d日"}}更新</p>
        </div>
      </div>
    </div>

  </div>
</div>
